In [2]:
import json
import pandas as pd
from pathlib import Path

# Make a reference to the comic_books_expanded.csv file path
csv_path = Path("filtered_restaurants2.csv")

# Import the comic_books_expanded.csv file as a DataFrame
restaurant_df = pd.read_csv(csv_path, encoding="utf-8")

# Check the special characters imported correctly
restaurant_df.tail()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
21355,gPr1io7ks0Eo3FDsnDTYfg,Tata Cafe,7201 Germantown Ave,Philadelphia,PA,19119,40.060414,-75.191084,4.0,21,0,"{'RestaurantsGoodForGroups': 'True', 'Business...","Sandwiches, Restaurants, Italian","{'Monday': '7:0-17:0', 'Tuesday': '7:0-17:0', ..."
21356,wVxXRFf10zTTAs11nr4xeA,PrimoHoagies,6024 Ridge Ave,Philadelphia,PA,19128,40.032483,-75.214430,3.0,55,1,"{'NoiseLevel': ""u'average'"", 'RestaurantsTakeO...","Restaurants, Specialty Food, Food, Sandwiches,...","{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'..."
21357,sf_oQ62L8UEnOOLf00nNGA,Pizza Hut,5028 Old Hickory,Hermitage,TN,37076,36.193201,-86.614748,3.0,6,1,"{'RestaurantsTakeOut': 'True', 'GoodForKids': ...","Restaurants, Pizza, Fast Food, Chicken Wings, ...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
21358,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,1,"{'WheelchairAccessible': 'False', 'Restaurants...","Restaurants, Mexican","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
21359,hn9Toz3s-Ei3uZPt7esExA,West Side Kebab House,2470 Guardian Road NW,Edmonton,AB,T5T 1K8,53.509649,-113.675999,4.5,18,0,"{'Ambience': ""{'touristy': False, 'hipster': F...","Middle Eastern, Restaurants","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."

In [3]:
clean_restaurant_df = restaurant_df.drop(columns=['business_id', 'address','latitude','longitude','attributes','hours'])
clean_restaurant_df

,name,city,state,postal_code,stars,review_count,is_open,categories
0,Tsevi's Pub And Grill,Affton,MO,63123,3.0,19,0,"Pubs, Restaurants, Italian, Bars, American (Tr..."
1,Vietnamese Food Truck,Tampa Bay,FL,33602,4.0,10,1,"Vietnamese, Food, Restaurants, Food Trucks"
2,Zio's Italian Market,Largo,FL,33771,4.5,100,0,"Food, Delis, Italian, Bakeries, Restaurants"
3,Tuna Bar,Philadelphia,PA,19106,4.0,245,1,"Sushi Bars, Restaurants, Japanese"
4,BAP,Philadelphia,PA,19147,4.5,205,1,"Korean, Restaurants"
...,...,...,...,...,...,...,...,...
21355,Tata Cafe,Philadelphia,PA,19119,4.0,21,0,"Sandwiches, Restaurants, Italian"
21356,PrimoHoagies,Philadelphia,PA,19128,3.0,55,1,"Restaurants, Specialty Food, Food, Sandwiches,..."
21357,Pizza Hut,Hermitage,TN,37076,3.0,6,1,"Restaurants, Pizza, Fast Food, Chicken Wings, ..."
21358,Adelita Taqueria & Restaurant,Philadelphia,PA,19147,4.5,35,1,"Restaurants, Mexican"
21359,West Side Kebab House,Edmonton,AB,T5T 1K8,4.5,18,0,"Middle Eastern, Restaurants"

In [4]:
unique_cities_states_df = clean_restaurant_df[['city', 'state']].drop_duplicates()
unique_cities_states_df

                      city state
0                   Affton    MO
1                Tampa Bay    FL
2                    Largo    FL
3             Philadelphia    PA
5                     Reno    NV
...                    ...   ...
20542  Hillsborough County    FL
20626     Town 'N' Country    FL
20670             Downtown    AB
20945        Birchrunville    PA
21315       UPPER MORELAND    PA

[678 rows x 2 columns]

In [5]:
city_counts_df = clean_restaurant_df['city'].value_counts()
sorted_city_counts_df = city_counts_df.sort_values(ascending=False)
sorted_city_counts_df

city
Philadelphia                 2436
Tampa                        1335
Tucson                       1066
New Orleans                  1066
Indianapolis                 1060
                             ...
Bensalem. Pa                    1
East Falls                      1
Sappington                      1
West Collingswood Heights       1
UPPER MORELAND                  1
Name: count, Length: 667, dtype: int64

In [6]:
state_counts_df = clean_restaurant_df['state'].value_counts()
sorted_state_counts_df = state_counts_df.sort_values(ascending=False)
sorted_state_counts_df

state
PA    5135
FL    3673
TN    1860
LA    1684
MO    1559
IN    1501
NJ    1415
AZ    1148
AB    1030
NV     671
CA     481
ID     479
DE     391
IL     333
Name: count, dtype: int64